
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model List<WTechCoreSample.Models.VM.WebUserVM>



<table class="table" style="background-color:white">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Surname</td>
        <td>City</td>
        <td>Country</td>
        <td>EMail</td>
        <td>Address</td>
        <td>Delete</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="user_@item.Id">
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.SurName</td>
            <td>@item.City</td>
            <td>@item.Country</td>
            <td>@item.EMail</td>
            <td>@item.Address</td>
            <td><button onclick="deleteWebUser(@item.Id)" class="btn btn-danger">Delete</button></td>
        </tr>
    }

</table>

<script>

   
    function deleteWebUser(id) {

        if (confirm('Bu kullanıcıyı silmek istediğinizden emin misiniz??????')) {

            var requestOptions = {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }


            fetch("https://localhost:5001/AdminWebUser/DeleteWebUser/" + id, requestOptions)
                .then(res => res.json())
                .then((data) => {

                    document.getElementById("user_" + id).remove()

                })

        } 

    }

</script>