@model WTechCoreSample.Models.GroupMember



<div>
    <div>
        <h3>Name: @Model.Name</h3>
    </div>
    <div>
        <h3>Surname: @Model.Surname</h3>
    </div>
    <div>
        <h3>Musical Enstrument: @Model.MusicalEnstrument</h3>
    </div>
    <div>
        <h3>Music Company: @Model.MusicCompany</h3>
    </div>
    <div>
        <h3>Story: @Model.Story</h3>
    </div>
    <div>
        <h3> Music Group Name: @Model.MusicGroup.Name</h3>
    </div>
</div>
<div>
    <a href="/Member">Go to list</a>
</div>